services:
  user-service:
    build: ./user-service
    container_name: user-services
    restart: always
    ports:
      - "4001:4001"
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:4001/ready || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
    env_file:
      - ./user-service/.env
    depends_on:
      - mongo
      - rabbitmq
  task-service:
    build: ./task-service
    container_name: task-service
    restart: always
    ports:
      - "4002:4002"
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:4002/ready || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
    env_file:
      - ./task-service/.env
    depends_on:
      - mongo
      - rabbitmq
  notification-service:
    build: ./notification-service
    container_name: notification-service
    restart: always
    ports:
      - "4003:4003"
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:4003/ready || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
    env_file:
      - ./notification-service/.env
    depends_on:
      - mongo
      - rabbitmq
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
